
.jumbotron, .card-header {
    background-color: red; 
    color: white;
    font-weight: bold
}

.card-header {
    font-size: 1.5em;
}
html, body {
    height: 100%;
    margin: 0;
    font-weight: bold
}

body {
    font-family: fantasy; 
    color: #777777;
    font-size: 1.25em;
    font-weight: bold
}

.form-group {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 0.8em;
    padding-left: 0.8em
}

.form-control {
    font-size: 1em;
    font-weight: bold;
    font-family: fantasy
}